<div id="clearance" class="sign-in">

  <div class="jumbotron vertical-center">
    <div class="container">
      <h1 class="display-4">Fuzzy Trader Project</h1>
      <p> This is a Ruby on Rails project. It is currently under development. </p>
      <br>
      <p> Feel free to sign in/up and explore it. </p>
      <br>

      <hr class="my-4">

      <%= render partial: '/sessions/form' %>
    </div>
  </div>
  <small>Any questions or comments: <a href=mailto:kummel@gmail.com> Developer </a></small>
</div>