<div class="text-field">
  <%= form.label :email , :class=>"hidden" %>
  <%= form.text_field :email, type: 'email', :class =>"form-control", :placeholder=>"Email" %>
</div>

<div class="password-field">
  <%= form.label :password ,:class=>"hidden" %>
  <%= form.password_field :password ,  :class =>"form-control", :placeholder=>"Password"%>
</div>